{# src/AppBundle/Resources/views/default/new.html.twig #}


   

{{ form_start(form) }}
    {# render the task's only field: description #}
    {{ form_row(form.description) }}

    <h3>Products</h3>
    <ul class="products" data-prototype="{{ form_widget(form.products.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for product in form.products %}
            
            <li>{{ form_row(product.name) }}</li>
            <li>{{ form_row(product.price) }}</li>
            <li>{{ form_row(product.description) }}</li>
        {% endfor %}
    </ul>
{{ form_end(form) }}



